.listContainer {
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.link {
  color: #fff;
  text-decoration: none;

  li {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    scale: 1;
    opacity: 1;
    transition: opacity, scale ease .8s;

    &:hover {
      opacity: .8;
      scale: 1.01;
    }
  }

}