@import "styles/media-query.scss";

.listContainer {
  ol {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    
    @include for-tablet-landscape-up {
      align-items: center;
    }

    a {
      width: fit-content;
    }
  }
}

.link {
  color: var(--text-color);
  text-decoration: none;

  li {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    scale: 1;
    opacity: 1;
    transition: opacity, scale ease .8s;
    
    @include for-tablet-landscape-up {
      font-size: 2rem;
    }

    &:hover {
      opacity: .8;
      scale: 1.01;
    }
  }

}