@import "styles/media-query.scss";

.storyContainer {
  color: var(--text-color);

  @include for-tablet-landscape-up {
    margin: 0 20%;
  }

  .htmlText {
    margin-top: 2rem;
    line-height: 1.8rem;
    text-align: justify;
    font-size: 1.3rem;
  
    p {
      margin: 2rem 0;
      cursor: pointer;
    }
  }
}