.storyContainer {
  margin: 0 20%;
  color: lightgray;

  .htmlText {
    margin-top: 2rem;
    line-height: 1.8rem;
    text-align: justify;
    font-size: 1.3rem;
  
    p {
      margin: 2rem 0;
    }
  }
}